<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{% load static %}
<br>
    <link rel="stylesheet" href="{% static 'css/extras.css' %}">

    <div class="row tempuser">
            <div class="col-2">
            </div>
        <div class="col-8">
            <div class="jumbotron">

        <h2>Username: tempuser</h2>
        <h2>Password: OlisBlog1 </h2>
    <br>
        <p>This account gives you access to see what extra features the superuser would get throughout the website</p>
        <p>This account <u>does not</u> give you permission to change any content, only to view it and see a bit behind the scenes</p>

   </div>
        </div>
    </div>




{% endblock %}