<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">

<!--    stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Podkova:wght@500&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <!--    scripts -->
    <script src="https://kit.fontawesome.com/2d0be0463f.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Oli's Coursework</title>
</head>
<body>

<div class="title sticky ">
    <nav id="nav" class="fixed-nav-bar" style="background-color: white;">
      <div class="sticky">
            <div class="row sticky">
            <div class="col-sm">

            </div>
            <div class="col-8-sm">
                <a id="blogtitle" class="titlelink" href="{% url 'blog:all' %}">BLOG</a>
                <a id="blogtitle2" class="titlelink" href="{% url 'blog:bio' %}">BIOGRAPHY</a>
            </div>
            <div class="col text-right " id="admin">
                {% if user.is_authenticated%}
                    <i class="fas fa-user"> </i> <a class="titlelink" href="{% url 'logout' %}"> Logout: {{user.username}} </a>|
                    <a class="titlelink" href="{% url 'admin:index' %}">admin</a>
                {% else %}
                    <i class="fas fa-user"> </i> <a class="titlelink" href="{% url 'login' %}">Login</a>
                    <a class="titlelink" href="{% url 'blog:temp_user' %}">[Tempuser]</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>



        <div class="contentext ">

            {% if request.get_full_path == "/bio/" %}
                                    <h4 class="welc">Welcome to...</h4>
                <p></p>
                    ----------------------------------
                <div class="typewriter ">
                    <h1>---Oli's Bio---</h1>
                </div>
                ----------------------------------
                <p></p>
                <br>
            {% endif %}
            {% if request.get_full_path == "/" %}
            <h4 class="welc">Welcome to...</h4>
                <p></p>
                    ----------------------------------
                <div class="typewriter">
                    <h1>---Oli's Blog---</h1>
                </div>
                ----------------------------------
                <p></p>
                <br>
            {% endif %}



        </div>
    </div>

    {% block content %}

        {% endblock %}


              <div class="row footer ">
                  <div class="container">
                      <div class="row">
                        <div class="col-12 " style="text-align:center">
                            <br>
                            <h3> To contact me,</h3>
                            <h4>Please use this email:</h4>
                            <h4><u>oxw932@student.bham.ac.uk</u></h4>
                            <a href="https://www.linkedin.com/in/oliver-weisfeld-05777310a/">
                                <img style="width: 75px;" class="reimage img-fluid rounded" src="{% static 'pictures/linkedin-logo.png' %}" alt="Linkedin">
                            </a>
                        </div>
                      </div>
                  </div>

              </div>

</body>

</html>